.back-blue-1 {
	background: #d9e6ee;
}

.back-blue-2 {
	background: #b3cdda;
}

.back-grey-1 {
	background: #eeeeee;
}

.nb_view {
	background: #000000;
	color: #FFFFFF;
	font-size: 32px;
 	padding: 5px 5px 5px 5px; 
}